.box1{
    display: inline-block;
    background-color: bisque;
    margin:20px 40px  20px 40px;
    padding: 25px 30px;
}
.box2{
    background-color: brown;
    margin:15px 20px 15px 20px;
    padding:30px 40px;
}
.box3{
     background-color: blanchedalmond;
     margin:10px 15px 10px 15px;
     padding:25px 30px;
}
.box4{
    background-color: indianred;
    margin:20px 15px 20px 15px;
    padding: 30px 50px;
}


