.box1{
    display: inline-block;
    background-color: bisque;
    /* margin:20px 40px  20px 40px; */
    margin-left :20px;
    margin-top: 20px;
    padding: 150px 250px;
    position: relative;
}
.box2{
    background-color: brown;
    /* margin:15px 20px 15px 20px; */
    position: absolute;
    top: 50px;
    left: 50px;
    padding:100px 200px;
}
.box3{
     background-color: blanchedalmond;
     /* margin:10px 15px 10px 15px; */
     position: absolute;
     padding:50px 100px;
     top:50px;
     left:100px;
}
.box4{
    background-color: indianred;
    /* margin:20px 15px 20px 15px; */
    position: absolute;
    padding: 25px 50px;
    top:25px;
    left:50px;
}

#identity{
    color :brown
}
.division{
color:darkgreen
}
.division{
    color: darkred!important;
}

@media screen and (max-width:530px) {
    .box1{
 margin-left:20px;
        padding: 150px 200px;
    }
    .box2{
        padding:100px 150px;
    }
    .box3{
        padding:50px 50px;
    }
    .box4{
        padding: 25px 25px;
        left:25px;
    }
}